@font-face {
  font-family: "ballingermono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/ballinger-mono/ballingermono-regular.woff2") format("woff2"),
    url("/fonts/ballinger-mono/ballingermono-regular.woff") format("woff");
}

@font-face {
  font-family: "ballingermono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/ballinger-mono/ballingermono-bold.woff2") format("woff2"),
    url("/fonts/ballinger-mono/ballingermono-bold.woff") format("woff");
}
