/* base */
@import "tailwindcss/base";
/* @import "/src/css/fonts.css"; */
@import "/src/css/base.css";

/* components */
@import "tailwindcss/components";

/* utilities */
@import "tailwindcss/utilities";
